p {
  margin-top: 0;
  margin-bottom: 20px;
}

ul,
ol,
li {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
  font-family: 'Heebo', sans-serif;
  color: var(--color-txt-light);
  text-transform: none;
  line-height: 1.42;
  font-weight: 700;
  margin-bottom: 24px;
  margin-top: 0;
}

h1,
.h1 {
  font-size: 44px;

  @media(max-width:1024px) {
    font-size: 32px;
  }
}

h2,
.h2 {
  font-size: 32px;

  @media(max-width:1024px) {
    font-size: 24px;
  }
}

h3,
.h3 {
  font-size: 24px;

  @media(max-width:1024px) {
    font-size: 16px;
  }
}

h4,
.h4 {
  font-size: rem(18px);
}

h5,
.h5 {
  font-size: rem(16px);
}

a {
  color: $colorWhite;
  text-decoration: none;
  outline: none;


}

img {
  max-width: 100%;
  height: auto;
}

button,
button:active,
button:focus  {
  border:none;
  color: var(--color-txt-light);
}