$colorBlack:#0D0C0C;
$colorOrange:#FF6B00;
$colorWhite:#ffffff;

:root {
    --color-primery:#FF6B00;
    --color-txt-light:#ffffff;
    --color-txt-dark:#0D0C0C;
    --color-data:#808080;
    --border-radius:100px;
    --background-dark:#0D0C0C;
    --background-light:#ffffff;
    
}