.footer {
    padding: 40px 0 34px 0;
    background-color: #f6f6f6;
    border-top: 1px solid #ff833d;

    @media(max-width:992px) {
        padding: 20px 0;
    }

    &__logo {
        max-width: 70px;
        flex: 0 0 70px;
    }

    &__wrap {
        display: flex;
        align-items: center;
        column-gap: 35px;
        margin-bottom: 20px;

        @media(max-width:992px) {
            margin-bottom: 5px;
        }
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;

        @media(max-width:992px) {
            padding-bottom: 16px;
            margin-bottom: 30px;
            border-bottom: 1px solid #ff833d;
        }
    }

    &__game {
        display: none;
        
        @media(max-width:992px) {
            display: block;
        }
    }

    &__line {
        width: 100%;
        border-top: 1px solid #ff833d;
    }

    &__box {
        max-width: 33%;
        flex: 0 0 33%;

        @media(max-width:992px) {
            max-width: 100%;
            flex: 0 0 100%;
        }
    }

    &__description {
        margin-bottom: 32px;
    }

    &__container {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #ff833d;
        padding-bottom: 30px;
        margin-bottom: 30px;

        @media(max-width:992px) {
            flex-direction: column;
        }
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 60px;

        @media(max-width:992px) {
            justify-content: center;
            margin-bottom: 20px;
        }
    }

    &__respons {
        ul {
            display: flex;
            align-items: center;
            column-gap: 30px;
            margin-bottom: 10px;
        }

        &--txt {
            font-size: 14px;
            opacity: 0.5;
            color: #1A1A1A;

            @media(max-width:992px) {
                text-align: center;
                font-size: 12px;
            }
        }

        &--img {
            @media(max-width:992px) {
                display: none;
            }
        }
    }

    &__menus {
        display: flex;
        justify-content: space-between;

        @media(max-width:768px) {
            flex-direction: column;
        }
    }

    &__menu {
        padding-right: 60px;

        &--crypto {
            ul {
                display: flex;
                flex-wrap: wrap;
                column-gap: 10px;
            }
        }

        @media(max-width:768px) {
            margin-bottom: 20px;
        }

        ul {
            li {
                margin-bottom: 10px;

                @media(max-width:992px) {
                    font-size: 14px;
                }

                a {
                    color: #000;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }

        &--title {
            margin-bottom: 20px;
            font-weight: 600;

            @media(max-width:768px) {
                margin-bottom: 10px;
            }
        }
    }

    &__mobiles {
        display: flex;
        column-gap: 10px;
        padding: 20px;
        margin-bottom: 32px;
        border: 1px solid #ff833d;
        background-color: #FFF0E8;
        border-radius: 6px;
    }

    &__social {
        &--title {
            margin-bottom: 20px;

            @media(max-width:992px) {
                margin-bottom: 5px;
            }
        }

        &--ul {
            display: flex;
            align-items: center;
            column-gap: 10px;

            li {
                a {
                    &:hover {
                        transform: scale(1.02);
                    }
                }
            }
        }
    }

    &-bottom {
        display: flex;
        justify-content: flex-end;
        column-gap: 160px;

        @media(max-width:992px) {
            flex-direction: column-reverse;
            align-items: center;
        }

        &__middle {
            text-align: center;
            opacity: 0.5;
        }

        &__mail {
            display: flex;
            align-items: center;
            color: #1A1A1A;
            opacity: 0.5;
            font-size: 14px;

            @media(max-width:992px) {
                margin-bottom: 10px;
            }

            img {
                margin-right: 10px;
            }

            &:hover {
                text-decoration: underline;
            }
        }

        &__privacy {
            font-size: 14px;

            a {
                color: #1A1A1A;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        &__txt {
            margin-top: 10px;
            font-size: 12px;
        }   
    }
}