.footer {
    padding:60px 0;
    background-color: $colorBlack;
    border-radius: 32px 32px 0px 0px;

    @media(max-width:1024px) {
        padding: 24px 0;
    }

    &__container {
        margin-bottom: 40px;

        .list-links {
            @media(max-width:1024px) {
                display: block;

                &__item {
                    display: inline-block;
                    margin-right: 32px;
                    margin-bottom: 24px;
                }
            }
            
        }
    }

    &__logo {
        display: inline-block;
        max-width: 50px;
        max-height: 32px;
        margin-right: 8px;
    }

    &__brand {
        display: inline-block;
        vertical-align: top;
        font-size: 24px;
        font-weight: 700;
        color: $colorWhite;
    }

    &-companies {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 40px;

        @media(max-width:1024px) {
            justify-content: flex-start;
        }

        &__item {
            line-height: 0;
        }
    }

    &-info {
        &__link {
            display: inline-block;
            margin-right: 32px;
            color: #808080;
            font-weight: 300;
            font-size: 10px;
        }
    }

    &-coopyright {
        &__item {
            display: block;
            text-align: right;
            color: #808080;
            font-weight: 300;
            font-size: 10px;

            @media(max-width:1024px) {
                text-align: left;
            }
        }
    }

    &__wrap {
        @media(max-width:1024px) {
            margin-bottom: 24px;
        }
    }

    &-block__buttons {
        @media(max-width:576px) {
            justify-content: space-between;
            gap: 0;

            .button__download {
                max-width: 49%;
                flex: 0 0 49%;
            }
    
            .button__register {
                max-width: 49%;
                flex: 0 0 49%;
            }
        }
       
    }

    .menu {

        &-item {
            margin-right: 26px;
            margin-bottom: 24px;
        }
    }

    
}
.footer__list-links {
    .list-links {

        &__link {
            font-weight: 400;
            color: #808080;
        }
    
        &__item {
            display: inline-block;
            margin-right: 26px;
            margin-bottom: 24px;
    
            &:last-child {
                margin-right: 0;
            }
        }
    }
}

.list-links {

    &__link {
        font-weight: 400;
        color: #808080;
    }
}
